################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common.OperationResult/.vs/Common.OperationResult
/Common.OperationResult/Common.OperationResult/bin/Debug/net8.0
/Common.OperationResult/Common.OperationResult/bin/Debug/net8.0/Common.OperationResult.deps.json
/Common.OperationResult/Common.OperationResult/obj
/Common.OperationResult/Common.OperationResult/bin/Release/net8.0
